body {
    background-color: #F8FAFC;
    color:#213555;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.content {
    padding-top: 5em;
    max-width: 600px;
    line-height: 1.3;
    word-spacing: 0.2em;
    font-size: 1.6em;
}
.paragraphs p{
    margin-bottom: 4em;
}



#signature {
    font-size: 2.5em;
    font-style: italic;
    margin: 0.5em 0 1em 0;
}


button{  
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    position: fixed;
    top:10px;
    left:20px;
    padding: 0.5em;
    border-radius: 0.4em;
    transition: all 0.1s ease;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translate(2px, 2px); 
    box-shadow: 0 2px rgba(0, 0, 0, 0.2); 
}

label {
    display: inline-block;
}

@media (max-width: 840px){
    button{
        display: none;
    }

}

@media (max-width: 620px){
    .content {
        max-width: 70%;
        font-size: 1.2em;
    }
    
}

